

body{
background-image: url(./weather\ picture.webp);
background-repeat: no-repeat;
background-size: cover;
box-sizing: border-box;
height: 740px;
}

.title{
    color: rgb(188, 17, 17);
    text-align: center;
}
form{
    text-align: center;
}
input{
    padding: 10px;
    margin-right: 10px;
    text-align: center;
    font-weight: 700;
    border-radius: 10px;
    margin-bottom: 10px;
}
input{
    border: 2px black solid;
    font-size:20px;
color: rgb(15, 15, 134);
text-align: center;
margin: auto;
}

input:hover{
    border: 5px rgb(17, 143, 3) solid;
    background-color: rgb(250, 250, 250);
}
.details{
   
    color: rgb(255, 255, 255);
    text-align: center;

    
}
section{
text-align: center;
    display: flex;
    text-align: center;
    margin: 10px 40px;
    width: 500px;
    justify-content:space-around;
    height: 100%;
    width: auto;
    margin-top: 100px;
    font-size: 40px;
    font-weight: 800;
   border-radius: 100px;
  background-color:rgb(255, 255, 255,0.2);
}
